@import ../../../styles/_vars.sass

.bar,
.lines
  background-color: #fff
  padding: $paddingMain
  width: 100%
  border: 2px solid $colorSecondary

.bar
  border-bottom: 1px solid $colorSecondary
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  &_title
    @include chartTableTitle
.lines
  border-top: 1px solid $colorSecondary
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  padding-top: 4px
